@type {import('tailwindcss').Config}
module.exports = {
    content: [
      "./src/**/*.{html,js}",
      "./*.html" // Adicione esta linha se você estiver usando arquivos HTML na raiz
    ],
    theme: {
      extend: {
        fontFamily: {
          poppins: ['"Poppins"', 'sans-serif'], // Adicione aspas para nomes de fontes com espaços
        },
        colors: {
          primary: {
            DEFAULT: '#4f09f3',
            50: '#f5f0ff',
            100: '#e9e0ff',
            // ... você pode adicionar variações de tonalidade
          },
          secondary: '#1abc9c',
          accent: '#f3541c',
          button: '#0080ff',
        },
        height: {
          'screen-minus-header': 'calc(100vh - 80px)', // Exemplo de utilidade personalizada
        }
      },
    },
    plugins: [
      require('@tailwindcss/forms'), // Plugin opcional para estilizar formulários
    ],
  }