/* Estilos Gerais */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Faz o body ocupar toda a altura da tela */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px ;
    background-color: #0080ff;
    color: white;
    position: fixed; /* Fixa o header no topo */
    width: 97%;
    top: 0;
    z-index: 1000; /* Garante que o header fique acima de tudo */
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 35px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #1abc9c;
}

/* Layout de duas colunas */
.container {
    display: flex; /* flexbox */
    width: 100%; /* Ocupa toda a largura */
    margin-top: 80px; /* Espaço para o header */
    height: 700px /* Altura total do formulário */
}

/* Coluna do formulário */
.form-column {
    flex: 1; /* Ocupa o espaço restante */
    padding: 30px; /* Espaçamento da borda do site */
    overflow-y: auto; /* Adiciona scrollbar */

}

/* Coluna da imagem */
.image-column {
    width: 40%; /* Largura da coluna da imagem */
    background-image: url('/img/bannerform.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Faz a imagem cobrir toda a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    position: sticky; /* Fixa a imagem enquanto o formulário rola */
    top: 80px; /* Alinha com o topo do container */
    height: 650px; /* Altura total menos o header */
}

/* Estilos do Formulário */
.form {
    max-width: 800px; /* Largura máxima do formulário */
}

.form h1 {
    text-align: left; /* Alinhado à esquerda */
    color: #000000; /* Cor do titulo */
    margin-bottom: 20px; /* Espaçamento */
}

.form h2 {
    color: #000000; /* Cor do subtitulo */
    margin-top: 20px; /* Espaçamento */
    margin-bottom: 10px; /* Espaçamento */
    text-align: left; /* Alinhado à esquerda */
}

form {
    display: flex; /* flexbox */
    flex-direction: column; /* Coluna */
    gap: 20px; /* Espaçamento entre os elementos */ 
}

label {
    font-weight: bold;  /* Define a fonte como negrito */
    margin-bottom: 5px; /* Espaçamento */
    text-align: left; /* Alinhado à esquerda */
}

input, select, button {
    padding: 10px;  /* Espaçamento interno */
    font-size: 20px; /* Tamanho da fonte */
    border: 1px solid #0c0707; /* Cor da borda */
    border-radius: 5px; /* Borda arredondada */
    width: 100%; /* Ocupa toda a largura */
    box-sizing: border-box; /* Inclui padding e borda na largura */
}

.button{ /* Estilos do botão */
    background-color: #0080ff; /* Cor do botão */
    color: white; /* Cor do texto */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    transition: background-color 0.3s; /* Animação ao passar o mouse */
}

button:hover { /* Cor ao passar o mouse */
    background-color: #1abc9c; /* Cor ao passar o mouse */
}

.row { /* Layout de duas colunas */
    display: flex; /* flexbox */
    gap: 15px; /* Espaçamento entre os elementos */
}

.row > div {
    flex: 1; /* Ocupa o espaço restante */
}

.terms {
    display: flex; /* flexbox */
    align-items: center; /* Centraliza os elementos */
    gap: 10px; /* Espaçamento entre os elementos */
}

.terms input {
    width: auto; /* Largura automática */
}

input[type="file"] {
    padding: 5px; /* Espaçamento interno */
}

/* Estilos para as opções de trilhas */
.trilhas {
    display: flex; /* flexbox */
    flex-wrap: wrap; /* Quebra a linha ao atingir a largura máxima */
    gap: 15px; /* Espaçamento entre os elementos */
}

.trilha-option {
    display: flex; /* flexbox */
    flex-direction: column; /* Coluna */
    align-items: center; /* Centraliza os elementos */
    border: 3px solid #ccc; /* Cor da borda */
    border-radius: 8px; /* Arredonda a borda */
    padding: 20px; /* Espaçamento interno */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    transition: border-color 0.3s, background-color 0.3s; /* Animação ao passar o mouse */
    width: 340px; /* Largura do botão */
    box-sizing: border-box; /* Inclui padding e borda na largura */
}

.trilha-option input[type="radio"] {
    display: none; /* Esconde o input */
}

.trilha-option img {
    width: 100px; /* Largura da imagem */
    height: 100px; /* Altura da imagem */
    object-fit: cover; /* Ajusta a imagem ao tamanho do botão */
}

.trilha-option span {
    margin-top: 10px; /* Espaçamento do texto */
    font-size: 14px; /* Tamanho da fonte */
    text-align: center; /* Alinhado ao centro */
    color: #333; /* Cor do texto */
}

.trilha-option.selected {
    border-color: #e43a12; /* Cor da borda */
}

.trilha-option:hover {
    border-color: #e43a12; /* Cor da borda */
}

/* Estilos para os campos de upload */
.file-upload {
    display: flex; /* flexbox */
    flex-direction: column; /* Coluna */
    align-items: center; /* Centraliza os elementos */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    width: 700px; /* Largura */
    height: auto; /* Altura */
    border: 2px dashed #ccc;   /* Cor da borda */
    border-radius: 8px; /* Arredonda a borda */
    padding: 20px; /* Espaçamento interno */
    transition: border-color 0.3s; /* Animação ao passar o mouse */
    overflow: hidden; /* Esconde o conteúdo que ultrapassa o botão*/
    margin: 0 auto; /* Centraliza o botão */
    gap: 10px; /* Espaçamento entre os elementos */
}

.file-upload img {
    width: 100px;   /* Largura da imagem */
    height: 100px; /* Altura da imagem */
    object-fit: cover; /* Ajusta a imagem ao tamanho do container */
    transition: transform 0.3s; /* Animação ao passar o mouse */
}

.file-upload:hover img {
    transform: scale(0.9); /* Diminui a imagem ao passar o mouse */
}

.file-upload:hover {
    border-color: #0080ff; /* Cor do botão */
}
.modal {
    display: none; /* Esconder o modal por padrão */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.modal-content button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #0056b3;
}